body
{
        background-color: rgb(61, 67, 73);
        color: white;
        padding-top: 0;
}

.h1 {
        color: white;
    }

    a {
        cursor: pointer;
    }

    a:hover {
        text-decoration: none;
    }


.gradient {
        background: #438524;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #94c558, #438524);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #94c558, #438524); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    }

    .green:focus {
        border-color: #28a745;
        box-shadow: 0 0 0 0.2rem rgb(51, 167, 40);
    }

    .green-border {
        border-radius: 0.3rem;
        box-shadow: 0 0 0 0.2rem rgb(51, 167, 40);
    }

        .info:focus {
            border-color: #2894a7;
            box-shadow: 0 0 0 0.2rem rgb(40, 167, 167);
        }

       .info-border {
        border-radius: 0.3rem;
           box-shadow: 0 0 0 0.2rem rgb(40, 167, 167);
       }

.text-color-gray {
    color: rgb(177, 183, 188);
}

.image-size-icon{
        max-height: 4rem;
}

.opacity-30 {
    opacity: 30%;
}

.height-6 {
    height: 6rem;
}

.rounded-1 {
    border-radius: 1rem;
}

.rounded-2 {
    border-radius: 2rem;
}


.font-size-1-5 {
    font-size: 1.5rem;
}

.font-size-1-7 {
    font-size: 1.7rem;
}

.font-size-0-8 {
    font-size: 0.8rem;
}


.mark {
    background-color: #28a745;
    border-radius: 4px;
}

.nav-link:hover {
    color: #ffffff !important;
}

.disabled:hover {
    color: rgba(255,255,255,.25) !important;
}

